 body {
     background-color: white;
     margin: 0;
     padding: 0;
 }
 #about {
     text-align: center;
     
 }
 #paragraph {
     text-align: center;
     float: center;
 }
 
 #header {
     background-color: grey;
     top: 0;
      position: fixed; 
     width: 100%;

 }
 #LinkedIn {
    color: black;
    display: inline-block;
    width: 33%;
    text-align: center;
 }

 #GitHub {
    color: black;
    display: inline-block;
    width: 33%;
    text-align: center;
  }
   
  #Twitter {
     color: black;
     display: inline-block;
     width: 34%;
     text-align: center;
  }
 
 

   #picture {
       position: center;
       display: block;
        width: 500px;
        height: auto;
       margin: 400px auto;
       margin-bottom: 0;
   }

   #contactInfo {
       background-color: gray;
     
   }
   #contactHeader {
     text-align: center;
     
   }
   
   #email {
       text-align: center;
       font-size: 30px;
   }
   #myEmail {
       text-align: center;
       font-size: 20px;
   }

   #myPhone {
       text-align: center;
       font-size: 20px;
   }